@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #0f2449;
  --text-color: #ffffff;
  --main-color: rgb(255, 255, 255);
  --bg-sec: rgb(6, 6, 6);
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 90vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* border-bottom: 1px solid var(--text-color); */
}

.header img {
  position: fixed;
  width: 3%;
  left: 4%;
}

.header p {
  position: absolute;
  left: 100px;
  font-size: small;
  font-weight: 600;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.logo {
  font-size: 10rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
}

.navbar a {
  font-size: 1.7rem;
  color: aqua;
  margin-left: 4rem;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
  position: relative;
  right: 20%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h3 .multipe-text span {
  color: var(--main-color);
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 2;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  background-size: 100vh;
  min-height: 100vh;
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  /* min-height: 100vh; */
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* tools */
.tools {
  background: var(--bg-color);
  background-size: 100vh;
  min-height: 100vh;
}

.tools h2 {
  margin-bottom: 4rem;
}

.tools-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.tools-container .tools-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.tools-box img {
  width: 100%;
  transition: 0.5s ease;
}

.tools-box:hover img {
  transform: scale(1.1);
}

.tools-box .tools-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5 ease;
}

.tools-box:hover .tools-layer {
  transform: translateY(0%);
  color:aqua
}

.tools-layer h4 {
  font-size: 3rem;
}

.tools-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.tools-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  border-radius: 50%;
}

.tools-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

 /* PORTOFOLIO */
.portfolio {
  background: var(--bg-color);
  background-size: 100vh;
  min-height: 100vh;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}

.portfolio-box:hover img {
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5 ease;
}

.portfolio-box:hover .portfolio-layer {
  transform: translateY(0%);
  color:aqua
}

.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: aqua;
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

/* Contact Section */
.contact h2 {
  margin-bottom: 3rem;
}

element.style {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition-duration: 0.8s;
}
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--second-bg-color);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.contact .row .map {
  flex: 1 1 20rem;
  width: 50%;
  object-fit: cover;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.contact .row form {
  max-width: 60rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 5rem;
  padding: 5rem 2rem;
}

.contact .row form .input-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--bg-color);
  border: 1px solid #ffffff;
  padding-left: 5rem;
  /* flex-wrap: wrap; */
}

.contact .row form .input-box input,
.contact .row form textarea {
  width: 100%;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  /* border-radius: 0.8rem; */
  margin: rem 0;
}

.contact .row form .input-box input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
  color: #000000;
}

.contact form textarea {
  resize: none;
}

.contact .row form .btn {
  margin-top: 3rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #000000;
  background-color: var(--bg-color);
  cursor: pointer;
}
.input-box {
  margin: 10px 0;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical;
  background-color: black;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--second-bg-color);
  margin-bottom: 4px;
  margin-top: 6px;
  padding: 30px;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5 ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  /* color: var(--second-bg-color); */
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 2rem 3%;
  }
  .header img {
    position: fixed;
    width: 5%;
    left: 4%;
    flex-wrap: wrap;
  }
  .header p {
    position: fixed;
    width: 3%;
    left: 10%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio {
    flex-wrap: wrap;
    padding-bottom: 7rem;
  }

  .contact {
    padding: 2rem 3%;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 650px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 50vw;
    margin-top: 1rem;
  }

  .about {
    flex-direction: column-reverse;
    background-size: 100vh;
    background-color: var(--bg-color);
  }

  .about-img {
    width: 70vw;
    margin-top: 4rem;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .portfolio {
    background-color: var(--bg-color);
  }
  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }
}

@media (max-width: 617px) {
  .tools-container {
    grid-template-columns: 1fr;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 50%;
  }

  .contact form .input-box input {
    width: 100%;
  }
}
@media (max-width: 345px) {
  .home-img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  .footer {
    /* flex-direction: column-reverse; */
    flex-wrap: wrap;
  }

  .footer p {
    text-align: center;
    margin-top: rem;
  }
}
